header, footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    border: 5px;
    border-style: double;
    border-color: black;
    background-color: gray;
    border-radius: 8px;
}

body {
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

nav {
    width: 95%;
    display: flex;
    justify-content: center;
    background-color: gray;
    padding: 10px;
    margin: 10px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 650px;
    padding: 10px;
    border: 3px solid yellow;
    margin: 7px;
    color: white;
}

.MiniDivs {
    display: flex;
    width: 250px;
    border: 2px solid yellow;
}

table {
    border: 1px solid yellow;
    border-collapse: collapse;
}
p {
    color: white;
}
.mimg{
    width: 120px;
    height: 100px;
}

.bimg {
    width: 200px;
}

a {
    color: yellow;
}

h4 {
    color: white;
}

h3 {
    color: yellow;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: yellow;
}
h1 {
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    justify-content: center;
    color: white;
}